<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
</head>
<body>
    <h1>Đăng nhập</h1>
    <% if (locals.error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Tên đăng nhập" required><br>
        <input type="password" name="password" placeholder="Mật khẩu" required><br>
        <button type="submit">Đăng nhập</button>
    </form>
    <a href="/register">Đăng ký</a>
</body>
</html>
