<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/register.css">
    <title>Đăng ký</title>
</head>
<body>
    <div class="auth-container">
        <div class="auth-box">
            <h1 class="auth-title">Đăng ký</h1>
            <form action="/register" method="POST" class="auth-form">
                <div class="form-group">
                    <label for="username" class="form-label">Tên đăng nhập</label>
                    <input type="text" id="username" name="username" class="form-input" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" id="repassword" name="repassword" class="form-input" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Nhập lại mật khẩu</label>
                    <input type="password" id="password" name="password" class="form-input" required>
                </div>
                <button type="submit" class="auth-button">Đăng ký</button>
            </form>
            <div class="switch-auth">
                <p>Đã có tài khoản? <a href="/login">Đăng nhập</a></p>
            </div>
            <% if (locals.error) { %>
                <p class="error-message"><%= error %></p>
            <% } %>
        </div>
    </div>
</body>
</html>
